  <div class="col-lg-12">
	<h1 class="page-header"><%= category %>
	    <small><%= description %></small>
	</h1>
	<ol class="breadcrumb">
	    <li><%= link_to 'Home', root_path %>
	    </li>
	    <li class="active"><%= category %></li>
	</ol>
	
  </div>