// Place all the styles related to the carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#btn_place_order{
	float:right;
}
#order_finished{
	font-size: 25px;
}
#order_finished span{
	color: #0c6;
}